.cardWrapper{
    h3{
        text-align: left;
        font-weight: 700;
        font-size: calc(.6rem + 1.23vw);
        height: 72px;
        width: 20vw;
        min-width: 90px;
        max-width: 300px;

        // position: absolute;
        
    }
    div{
        width: 20vw;
        min-width: 90px;
        max-width: 300px;
        height: 68vh;
        min-height: 200px;
        max-height: 550px;

        display: flex;
        img{
            align-self: center;
            margin: 0 auto;
            width: 18vw;
            min-width: 90px;
            max-width: 300px;
            height: 18vw;
            min-height: 90px;
            max-height: 300px;
        }
    }
}